<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>search</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!--<script src="/mysite/mysite/templates/css/pace.min.js"></script>-->
    <!--<link src= "{% static "css/loader.css" %}"> </link>-->
{% load staticfiles %}

    <link rel="stylesheet" href="{% static 'loader.css' %}">
    <script src="{% static 'pace.min.js' %}"></script>




</head>
<body>
</br></br></br></br>

    <div class="container">
     <div class="jumbotron">
        <h1 align="middle">Search </h1>
         <br>
          <form role="form" action="search_with_and">
                <div class="form-group">
                  <input type="test" class="form-control" id="groups" name="groups" placeholder="Separate with commas">
                </div>
                <div class="row" >
                    <div class="col-md-12" style="width: 45%;">
                         <label>Posts must contains all this words </label><input rel="active" type="checkbox"  name="and" id="and"/>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-default" id="Search"  val`ue="Search">Search</button>

                    </div>
                </div>
          </form>
     </div>
        <div align="middle">
            <img  src="http://s7.postimg.org/hsndpz0yv/276_3.gif" id="gif" style="display: none;">
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
     $('#Search').mouseup(function() {
         $('#gif').show();
        return true;
 });
 </script>
</body>
</html>

